.jumbotron {
  padding-top: 6rem;
  background-color: #fff0f5;
}

#project {
  background-color: #fff0f5;
}

.kirim {
  background-color: pink;
}

.bg {
  background-color: rgb(255, 146, 164);
}

section {
  padding-top: 5rem;
}
